{#
/**
 * @file
 * Default theme implementation for page titles.
 *
 * Available variables:
 * - title_attributes: HTML attributes for the page title element.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title: The page title, for use in the actual content.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @ingroup templates
 *
 * @see template_preprocess_page_title()
 */
#}
<!-- <pre>{{ dump(archive_page.archive_data) }}</pre> -->
<div class="container archive">
	{% for key, value in archive_page.archive_data  %}
	<div class="archive-rows">
		<div class="archive-title">
			<h3><a href="/node/{{ attribute(archive_page.archive_data, key).nid }}">{{ attribute(archive_page.archive_data, key).title|title  }}</a></h3>
		</div>
		<div class="archive-body">{{ attribute(archive_page.archive_data, key).body|slice(0, 250) }} <a href="/node/{{ attribute(archive_page.archive_data, key).nid }}">more...</a></div>
		<div class="archive-type"><a href="/archive/{{ attribute(archive_page.archive_data, key).type }}">{{ attribute(archive_page.archive_data, key).type|title  }}</a></div>	
	</div>
	{% endfor %}
</div>
<!-- 
{% if title %}
  <li{{ title_attributes.addClass('page-header') }}>{{ title }}</h1>
{% endif %} -->